akshare
pandas==1.5.3
pytz
easyquotation
scipy
tqdm
requests==2.28.2
retrying
psutil
pyarrow
matplotlib
pymysql
SQLAlchemy==1.4.39
DBUtils
pyquery
emoji
beautifulsoup4==4.11.1
html5lib==1.1
streamlit==1.31.0
streamlit-echarts==0.4.0
empyrical==0.5.5
#tushare
#sseclient-py

# bert-onnx
#nnxruntime==1.17.0
#torch
#transformers==4.35.2
#Riskfolio-Lib==5.0.1
#pytdx
#optuna==3.4.0
#duckdb